h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
    text-wrap: balance
}

p {
    text-wrap: pretty
}

footer {
    margin-top: 0 !important
}

.wp-block-social-links.is-style-logos-only li.wp-social-link {
    color: currentcolor
}

.wp-block-social-links.is-style-logos-only .wp-social-link svg {
    height: 1em;
    width: 1em
}

.wp-block-social-links.has-small-icon-size {
    font-size: 20px
}

.has-xx-large-font-size {
    line-height: 1
}

.entry-content>p:first-child {
    margin-top: var(--wp--style--root--padding-left)
}

.order-0 {
    order: 0
}

.order-1 {
    order: 1
}

.grow-0 {
    flex-grow: 0
}

.grow {
    flex-grow: 1
}

@media (min-width:600px) {
    .md\:order-0 {
        order: 0
    }

    .md\:order-1 {
        order: 1
    }

    .md\:grow-0 {
        flex-grow: 0
    }

    .md\:grow {
        flex-grow: 1
    }
}

.overflow-hidden {
    overflow: hidden
}

.wp-block-jetpack-contact-form-container {
    --jetpack--contact-form--input-padding-left: 16px !important
}

.wp-block-jetpack-contact-form input,
.wp-block-jetpack-contact-form textarea {
    backdrop-filter: saturate(1.1);
    background-color: transparent;
    border-color: var(--wp--custom--input--border--color);
    border-radius: var(--wp--custom--input--border--radius) !important;
    border-width: var(--wp--custom--input--border--width) !important;
    filter: brightness(.975);
    font-size: inherit;
    color: inherit;
    transition: border-color .15s cubic-bezier(.4, 0, .2, 1)
}

.jetpack-contact-form .jetpack-field .jetpack-field__input,
.jetpack-contact-form .jetpack-field .jetpack-field__textarea {
    border-color: var(--wp--custom--input--border--color)
}

.wp-block-jetpack-contact-form input:not(:placeholder-shown),
.wp-block-jetpack-contact-form textarea:not(:placeholder-shown),
.wp-block-jetpack-contact-form input:focus,
.wp-block-jetpack-contact-form textarea:focus {
    filter: brightness(1);
    backdrop-filter: saturate(1)
}

.wp-block-jetpack-contact-form input:focus,
.wp-block-jetpack-contact-form textarea:focus {
    border-color: var(--wp--custom--input--focus--border--color)
}

.contact-form .is-style-animated .grunion-field-wrap:not(.no-label) select,
.contact-form .is-style-animated .grunion-field-wrap:not(.no-label)>input,
.contact-form .is-style-animated .grunion-field-wrap:not(.no-label)>textarea {
    padding-top: var(--field-padding)
}

.contact-form .is-style-animated .grunion-field-wrap .animated-label__label {
    font-size: inherit;
    width: auto;
    padding: 0 4px;
    transition: transform .15s cubic-bezier(.4, 0, .2, 1), top .15s cubic-bezier(.4, 0, .2, 1), font-size .15s cubic-bezier(.4, 0, .2, 1)
}

.contact-form .is-style-animated .grunion-field-wrap.grunion-field-select-wrap .animated-label__label,
.contact-form .is-style-animated .grunion-field-wrap .grunion-field.has-placeholder~.animated-label__label,
.contact-form .is-style-animated .grunion-field-wrap .grunion-field:focus~.animated-label__label,
.contact-form .is-style-animated .grunion-field-wrap .grunion-field:not(:placeholder-shown)~.animated-label__label {
    background-color: var(--wp--custom--input--color--background) !important;
    transform: translateY(-11px) translateX(-4px)
}

.contact-form label,
.wp-block-jetpack-contact-form label,
.jetpack-field-label .rich-text.jetpack-field-label__input {
    font-weight: 500
}

.contact-form__input-error {
    font-size: var(--wp--preset--font-size--small)
}

.geolocation-chip .noticon {
    display: inline-block;
    vertical-align: middle
}

.geolocation-chip {
    margin-bottom: 1em
}

.reblogger-note img.avatar {
    float: left;
    padding: 0;
    border: 0
}

.reblogger-note-content {
    margin: 0 0 20px
}

.wpcom-reblog-snapshot .reblog-from img {
    margin: 0 .75em 0 0;
    padding: 0;
    border: 0
}

.wpcom-reblog-snapshot .reblogger-note img.avatar {
    float: left;
    padding: 0;
    border: 0;
    margin: 0 .5em 0 0
}

.wpcom-reblog-snapshot {
    margin-bottom: 1em
}

.wpcom-reblog-snapshot p.reblog-from {
    margin: 0 0 1em
}

.wpcom-reblog-snapshot p.reblogger-headline {
    line-height: 32px;
    margin: 0 0 1em
}

.wpcom-reblog-snapshot .reblogged-content {
    margin: 0 0 1em
}

.reblog-post .wpcom-enhanced-excerpt-content {
    border-left: 3px solid #eee;
    padding-left: 15px
}

.reblog-post ul.thumb-list {
    display: block;
    list-style: none;
    margin: 2px 0;
    padding: 0;
    clear: both
}

.reblog-post ul.thumb-list li {
    display: inline;
    margin: 0;
    padding: 0 1px;
    border: 0
}

.reblog-post ul.thumb-list li a {
    margin: 0;
    padding: 0;
    border: 0
}

.reblog-post ul.thumb-list li img {
    margin: 0;
    padding: 0;
    border: 0
}

.reblog-post .wpcom-enhanced-excerpt {
    clear: both
}

.reblog-post .wpcom-enhanced-excerpt address,
.reblog-post .wpcom-enhanced-excerpt li,
.reblog-post .wpcom-enhanced-excerpt h1,
.reblog-post .wpcom-enhanced-excerpt h2,
.reblog-post .wpcom-enhanced-excerpt h3,
.reblog-post .wpcom-enhanced-excerpt h4,
.reblog-post .wpcom-enhanced-excerpt h5,
.reblog-post .wpcom-enhanced-excerpt h6,
.reblog-post .wpcom-enhanced-excerpt p {
    font-size: 100% !important
}

.reblog-post .wpcom-enhanced-excerpt blockquote,
.reblog-post .wpcom-enhanced-excerpt pre,
.reblog-post .wpcom-enhanced-excerpt code,
.reblog-post .wpcom-enhanced-excerpt q {
    font-size: 98% !important
}

.reblog-from img {
    margin: 0 10px 0 0;
    vertical-align: middle;
    padding: 0;
    border: 0
}

.reblog-source {
    margin-bottom: 0;
    font-size: .8em;
    line-height: 1
}

.reblog-source .more-words {
    color: #668eaa
}

.wpcom-reblog-snapshot .reblog-post {
    box-shadow: 0 0 0 1px rgba(46, 68, 83, .1) inset, 0 1px 1px rgba(46, 68, 83, .05);
    border-radius: 4px;
    padding: 24px
}

.wpcom-reblog-snapshot .reblogger-note {
    margin: 0 0 1em;
    overflow: hidden
}

.wpcom-reblog-snapshot p.reblogger-headline {
    line-height: 32px;
    margin: 0 0 1em
}

.wpcom-reblog-snapshot .reblogger-note-content {
    margin: 0;
    padding: 0
}

body .wpcom-reblog-snapshot .reblogger-note-content blockquote {
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
    padding: 0;
    position: relative;
    border: none
}

.wpcom-reblog-snapshot .reblogger-note-content blockquote p:last-child {
    margin-bottom: 0
}